body{
    background: linear-gradient(rgb(164, 14, 144), rgb(31, 2, 28));
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 350px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
}

.name{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 50px;
    margin: 10px;
    justify-content: center;
    border: solid 2px black;
    background-color: rgb(219, 140, 246);
    /* background-color: rgb(147, 233, 255); */
    border-radius: 13px;

}

.name img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.name p{
    font-size: 29px;
}

.space{
    background-color: rgb(219, 140, 246);
    /* background-color: rgb(147, 233, 255); */
    border: solid 2px black;
    margin: 10px;
    border-radius: 13px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.add{
    display: flex;
    justify-content: center;
}

.add input{
    height: 50px;
    width: 350px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    background-color:white
}

.add #submit{
    background-color: rgb(255, 165, 0);
    cursor: pointer;
}

#display{
    border: solid 2px black;
    height: 150px;
    margin: 13px;
    border-radius: 10px;
    padding: 10px;
    color: black;
    overflow-y: scroll;
    /* overflow: hidden; */
}
#display li{
    font-size: 20px;
    cursor: pointer;
    padding: 7px 0px 7px 10px;
    position: relative;
}
.checked{
    color: black;
    text-decoration: line-through;
}
#display li span{
    right: 0px;
    position: absolute;
    bottom: 7px;
    height: 25px;
    width: 25px;
    border: 1.5px solid blueviolet;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    text-wrap: wrap;
}
#display li span:hover{
    background-color: rgba(245, 212, 212, 0.979);
}
